<html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/lips6.jpeg" type="image/x-icon">
  <!-- Box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
  </script>


  <!-- bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="css/styles.css" />
  <title>Route Mobile</title>
</head>

<body>
  <!-- Header -->
  <header id="home" class="header">
    <!-- Navigation -->
    <nav class="nav">
      <div class="navigation container">
        <div class="logo">
          <h1>Route Mobile</h1>
        </div>

        <div class="menu">
          <div class="top-nav">
            <div class="logo">
              <h1>Route Mobile</h1>
            </div>
            <div class="close">
              <i class="bx bx-x"></i>
            </div>
          </div>

          <ul class="nav-list">
            <li class="nav-item">
              <a href="/" class="nav-link scroll-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link scroll-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link scroll-link">Contact</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link scroll-link">Account</a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link icon"><i class="bx bx-shopping-bag"></i></a>
            </li>
          </ul>
        </div>

        <a href="cart.html" class="cart-icon">
          <i class="bx bx-shopping-bag"></i>
        </a>

        <div class="hamburger">
          <i class="bx bx-menu"></i>
        </div>
      </div>
    </nav>

    <!-- Hero -->
    <img src="images/banner.jpg" alt="dgdsg" />

  </header>

  <!-- Featured -->
  <section class="section featured">
    <div class="title">
      <h1>Makeup Products</h1>
    </div>

    <div class="product-center container">
      <div class="product">
        <div class="product-header">
          <img src="images/lips6.jpeg" alt="">
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>

        <div class="product-footer">
          <a href="/pd.html">
            <h3>Crayon Lipstick</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="https://res.cloudinary.com/rapidhack/image/upload/v1636555236/sticker_4_mhh8b4.jpg" alt="">
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="/pd1.html">
            <h3> Face Tattoo</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="images/face4.jpeg" alt="">
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="/pd2.html">
            <h3>MAYBELLINE Fit Me </h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="images/pic14.JPG" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="/pd2.html">
            <h3>Bobbi Brown</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
    </div>
  </section>

  <!--Latest -->
  <section class="section featured">
    <div class="title">
      <h1>Latest Products and offers</h1>
    </div>

    <!--Carousel starts-->
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner" style="background-color:#d1e2e9;">
        <div class="carousel-item active">
          <img src="<%= latestprod0imagelink %>" alt="Los Angeles" width="900" height="500">
          <div class="carousel-caption" style="color:'<%= prod0color %>';">
            <h1><b>
                <%= prod0head %>
              </b></h1>
            <p>
              <%= prod0details %>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%= latestprod1imagelink %>" alt="Chicago" width="900" height="500">
          <div class="carousel-caption" style="color:'<%= prod1color %>';">
            <h1><b>
                <%= prod1head %>
              </b></h1>
            <p>
              <%= prod1details %>
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="<%= latestprod2imagelink %>" alt="New York" width="900" height="500">
          <div class="carousel-caption" style="color:'<%= prod2color %>';">
            <h1><b>
                <%= prod2head %>
              </b></h1>
            <p>
              <%= prod2details %>
            </p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <br>
    <br />
    <!--carousel ends-->
    <div class="title">
      <h1>Clothes Try-on</h1>
    </div>

    <div class="product-center container">
      <div class="product">
        <div class="product-header">
          <img src="images/capture1.PNG" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="https://simmer.io/@Alpana/routemobile">
            <h3>Woman's black dress</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="images/Capture2.PNG" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="https://simmer.io/@Alpana/routemobile">
            <h3>Women gown</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="images/Capture3.PNG" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="https://simmer.io/@Alpana/routemobile">
            <h3>Bodycon dress</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>
      <div class="product">
        <div class="product-header">
          <img src="images/Capture4.PNG" alt="">

          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="https://simmer.io/@Alpana/routemobile">
            <h3>Green dress</h3>
          </a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">$50</h4>
        </div>
      </div>   
  </section>
  <div class="container" style="margin-bottom: 30px;margin-left: 80px;">
    <div class="row">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-4">
        <a href="https://simmer.io/@Alpana/routemobile">
          <button
    type="button"
    class="
      btn btn-info
      btn-lg btn-block
    "
    style="font-size: 18px;margin-left: 150px"
  >
    Dress Try-on
  </button>
        </a>

      </div>
      <div class="col-md-5">
        
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer style="background-color: black;padding-top:50px;padding-bottom: 20px;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-4 fh5co-widget" style="margin-bottom: 0px;color:beige">
          <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci
            architecto culpa amet.</p>
          <p><button type="button" class="btn btn-success watsappmsg btn-lg btn-block btn-blockfloat-right "
              style="font-size:18px;margin-top:25px">Customer Care</button></p>
        </div>
        <div class="col-md-3">
          <ul style="margin-bottom: 0px;color:beige">
            <li><a href="#">Maybelline</a></li>
            <li><a href="#">Lakme</a></li>
            <li><a href="#">Huda Beauty</a></li>
            <li><a href="#">Loreal</a></li>
            <li><a href="#">Sugar</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <ul style="margin-bottom: 0px;color:beige">
            <li><a href="#">Levis</a></li>
            <li><a href="#">Wrangler</a></li>
            <li><a href="#">Vogue</a></li>
            <li><a href="#">Vero moda</a></li>
            <li><a href="#">Zara</a></li>
          </ul>
        </div>

        <div class="col-md-2">
          <ul style="margin-bottom: 0px;color:beige">
            <li><a href="#">Smashbox</a></li>
            <li><a href="#">Lee Cooper</a></li>
            <li><a href="#">Signature</a></li>
            <li><a href="#">Calvin Klein</a></li>
            <li><a href="#">Allen Solly</a></li>
          </ul>
        </div>
      </div>

      <div class="row copyright">
        <div class="col-md-12 text-center ">
          <p>
            <small class="block" style="margin-bottom: 0px;color:beige">Made with 💕 by Team Mozarella</small>
          </p>
        </div>
      </div>

    </div>
  </footer>
  <!-- End Footer -->

  <!-- GSAP -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <!-- Custom Script -->
  <script src="js/js/index.js"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<!-- Custom Script -->
<script src="js/js/index.js"></script>
<script>
  function watsappsessionapicall(phone_no) {
    const update = {
      phone: `${phone_no}`,
      media: {
        type: "interactive_list",
        header: {
          text: "Route Mobile"
        },
        body: "Hi! It's the Route Mobile Support Assistant. What can I help you with?",
        footer_text: "Menu",
        button_text: "Select",
        button: [
          {
            section_title: "Chicken",
            row: [
              {
                id: "1",
                title: "Issue with item delivery",
              }
            ]
          },
          {
            section_title: "Fish",
            row: [
              {
                id: "2",
                title: "Invoice/Bill",
              }
            ]
          },
          {
            section_title: "Fish",
            row: [
              {
                id: "3",
                title: "Others",
              }
            ]
          }
        ]
      }
    };
    const options = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': '6188c2110fcc5f00129106d7',
      },
      body: JSON.stringify(update),
    };
    fetch('https://rapidapi.rmlconnect.net/wbm/v1/message', options)
      .then(data => {
        if (!data.ok) {
          throw Error(data.status);
        }
        return data.json();
      }).then(update => {
        console.log(update);
      }).catch(e => {
        console.log(e);
      });
  }

  function watsappsessioncallfunc() {
    let phone = prompt('Type your number here');
    watsappsessionapicall(phone);
  }

  const customercare = document.querySelector(".watsappmsg");
  customercare.addEventListener("click", watsappsessioncallfunc);
</script>

</body>

</html>